# Changes made to the Historical-transaction-data.csv
- Initial rows:  473974
- Removed lines with null values: 41865
- Removed rows with outlier item_price value:  14284
- Removed rows with outlier quantity_sold value:  8415
- Writing rows:  409410

## Above changes are saved to a new csv file Historical-transaction-cleaned-data.csv

In [10]:
import pandas as pd
import seaborn as sns

historical_transactions = pd.read_csv("../data/Historical-transaction-cleaned-data.csv")
historical_transactions["invoice_id"] = historical_transactions["invoice_id"].astype(int)
historical_transactions["transaction_date"] = pd.to_datetime(historical_transactions["transaction_date"])
historical_transactions.sort_values(by='transaction_date', inplace=True)

In [11]:
historical_transactions.describe()

         invoice_id     item_price  quantity_sold
count  4.094100e+05  409410.000000  409410.000000
mean   2.000923e+06     190.044173       1.760516
std    1.344488e+06     102.158777       0.819901
min    1.700000e+01      35.000000       1.000000
25%    1.033476e+06     100.000000       1.000000
50%    2.035128e+06     210.000000       2.000000
75%    3.034716e+06     220.000000       2.000000
max    8.331336e+06     650.000000       8.000000

In [12]:
historical_transactions.info()

<class 'pandas.core.frame.DataFrame'>
Index: 409410 entries, 36662 to 23161
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   item_description  409410 non-null  object
 1   transaction_date  409410 non-null  datetime64[ns, UTC]
 2   invoice_id        409410 non-null  int64
 3   customer_id       409410 non-null  object
 4   shop_id           409410 non-null  object
 5   item_price        409410 non-null  int64
 6   quantity_sold     409410 non-null  int64
dtypes: datetime64[ns, UTC](1), int64(3), object(3)
memory usage: 25.0+ MB

In [25]:
historical_transactions['sales'] = historical_transactions['item_price'] * historical_transactions['quantity_sold']
historical_transactions['weekend_transaction'] = historical_transactions['transaction_date'].dt.weekday > 4
historical_transactions['weekend_transaction'].value_counts()[True]

150119

# List of features to generate from the Historical-transaction-cleaned-data.csv:

1. Total sales per shop: Calculate the sum of sales of all transactions for each shop.
2. Total quantity sold per shop: Calculate the total quantity of items sold per shop.
3. Mean item price per shop: Calculate the mean value of prices per shop.
4. Total bills per shop: Calculate number of unique invoices for each shop.
5. Total transactions per shop: Calculate the total number of transactions per shop.
6. Total unique items sold per shop: Calculate the number of unique item_descriptions per shop.
7. Total unique customers per shop: Calculate the number of unique customer_ids per shop.
8. Total weekday transactions per shop: Calculate the number of transactions occured in weekdays per shop.
9. Total weekend transactions per shop: Calculate the number of transactions occured in weekend per shop.

These features should provide a comprehensive view of the transaction data and help improve the performance of your predictive model. Remember to merge these features with the Store-info.csv dataset based on the shop_id before training your model.